/* CSS for TableXBlock */

button{
	cursor: pointer;
}

h3{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.table_block input[type='checkbox']{
	width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.table_block{
	overflow: hidden;
}

.table_block input, .table_block textarea{
	width: 90%;
}

.table_block .row{
	width: 100%;
	clear: both;
	float: left;
	overflow: hidden;
	min-height: 30px;
	margin-top: 10px;
	border: none;
}

.table_block .green{
	background: #EEFFEA;
	padding: 10px 0 10px 0;
	margin-top: 0;
}

.table_block .nfRow .cell{
	margin: 0 5px;
}
.table_block .nfRow{
	width: 100%;
	clear: both;
	overflow: hidden;
	min-height: 30px;
	margin: 4px 0;
}

.table_block .cell{
	width: 25%;
	float: left;
	text-align: center;
}

.table_block .header{
	font-weight: bold;
	background: #ddd;
	padding: 10px;
	padding-left: 0;
}
.table_block .bottom{
	margin: 0 0 20px 0;
}
.table_block .parent{
	text-align: center;
	background: #f4f4f4;
	padding: 10px;
	border-radius: 4px;
}

.table_block input[type="text"]{
	padding: 5px;
}

.modal_footer{
	position: absolute;
	height: 80px;
	width: 100%;
	top: 100%;
	margin: -80px 0 0 0;
	background: #eee;
	border-top: 1px solid #ddd;
	padding: 20px 0 0 45%;
}

.modal_container{
	padding: 20px;
	overflow: auto;
	height: 380px;
}

.modal_container .cell{
	width: 40% !important;
}

.table_block .editable{
	border-bottom: 1px dashed #3B80C3;
	cursor: text;
}

.table_block .saveButtonContainer{
	width:25%;
	margin:0 auto;
}

.table_block .saveButton{
	display: block;
	float:left;
	margin-left: 10px;
}

#table_modal{
	width: 50%;
	height: 500px;
	top: 50%;
	left: 50%;
	
	margin-left: -25%;
	margin-top: -250px;
	
	overflow-y: auto;
	position: fixed;
	z-index: 100000;
	background: #f9f9f9;
	overflow: hidden;
	
	border: 1px solid #999;
	border-radius: 5px;
}
#table_overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 99;
	background: #000;
	opacity: .45;
	cursor: pointer;
}
